* {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    margin: 0;
    color: black;
    box-sizing: border-box;
}
.bleu {
    color: var(--blue);
}

.titre {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 0px 0px 0px 40px; /* haut droite bas gauche*/
    
}

.sous_titre {
    font-size: 16px; /* à vue de nez à verif*/
    font-weight: bold;
}

.recherche {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    /*margin: 0px 0px 0px 10px;*/
}

.texte {
    padding: 5px;
    margin: 0px 0px 0px 40px; 
    /*normal donc 16px */
}


/* header */


header {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--grey); */
    height: 120px;
}

.logo {
    width: 100px;
}

header div a {
    display: flex;
    padding: 45px;
}

header nav ul {
    display: inline-flex;
    /*margin: 0px;*/
    padding: 0px; /* pour rapprocher les 2 ancres*/
}

header nav ul li {
    display: flex;
    justify-content: flex-end;

    /*border : solid;  ! pour visualisation ! */
}

header nav ul li a {
    text-decoration: none;
    padding : 60px; /* ? à verifier pas satisfaite ? */
}

header nav ul li a:hover {
    color: var(--blue);
    border-top: 3px solid var(--blue);

}


/**********
 *  main  *
 **********/

/*search bar*/

.search_bar {
    padding: 5px;
    margin: 10px 0px 0px 40px;
    display: inline-block;
}

.fa-location-dot {
    background-color: var(--grey);
    border: 1px solid;
    border-color: var(--grey);
    padding: 17.8px 20px 17px 18px;
    border-radius: 15px 0px 0px 15px;
    float: left; /* pour enlever l'espace mystère */
}

.search_input {
    border: 1px solid;
    border-color: var(--grey);
    float: left; /* pour enlever l'espace mystère */
}

.search_button {
    background-color: var(--blue);
    border: none;
    border-radius: 0px 15px 15px 0px;
    float: left; /* pour enlever l'espace mystère */
    cursor: pointer;
}

.search_button:active { /* pour mettre petite animation sur le bouton de recherche */
    border: 1px solid var(--grey);
}

.search_button_span {
    color: white;
}

.search_button_i {
    display: none;
}

/* filtre */

.filtres {
    margin: 20px 0px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}

.filtre {
    padding: 13px;
    font-size: 18px;
    font-weight: bold;
    /*border: 2px solid black;*/
}

.marg_filtre {
    margin: 0px 10px 0px 5px;
}


/* toggle switch test */
/*<div >*/
/*  <input type="checkbox" name="switch" id="switch" >*/
/*  <label for="switch" id="label_switch" > <span class="bla" > bla-bla</span > </label >*/
/*</div >*/

/*debut bouton test*/
#label_switch { /* bouton total */
    display: inline-block;
    border: 2px solid var(--grey);
    border-radius: 50px;
    width: 140px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label_switch:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f005";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label_switch:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.bla { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}
/* fin bouton test */


input:checked + label { /* changer la couleur du fond quand checked*/
    background-color: var(--blue);
} 

input:checked + label > span { /* après checked */
    color: white;
    font-weight: bold;
    display: flex;
    position: absolute;
    padding: 15px 15px;
}

input[type="checkbox"] { /*cacher l'elem checkbox non utilisé*/
    width: 0;
    height: 0;
    opacity: 0;
}

/* filtre économique */

#label_money { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 180px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label_money:hover {
    box-shadow: 0px 0px 10px var(--blue);
}

#label_money:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f53a";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label_money:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.economique { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* filtre Familial */

#label_child { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 140px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label_child:hover {
    box-shadow: 0px 0px 10px var(--blue);
}

#label_child:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f1ae";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label_child:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.familial { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* filtre romantique */

#label_heart { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 180px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label_heart:hover {
    box-shadow: 0px 0px 10px var(--blue);
}

#label_heart:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f004";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label_heart:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.romantique { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* filtre Animaux autorisés */

#label_dog { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 230px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label_dog:hover {
    box-shadow: 0px 0px 10px var(--blue);
}

#label_dog:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f6d3";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label_dog:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.animaux { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* info */

.info {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 48px;
}

.info_texte {
    padding: 5px;
    margin: 0px 0px 0px 5px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 14px;
    height: 25px;
    width: 25px;
    padding: 10px;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
}


/* mise en page ordi */


.desktop_v {
    display: flex;
    /*justify-content: space-around;*/
}


/* Hébergements */

#ancre_hebergements {
    width: 60%;
    margin: 20px 0px 0px 45px;
}

.hebergements_block {
    background-color: var(--grey);
    /*width: 60%;*/
    /*height: 600px;*/
    /*margin: 20px 0px 0px 45px;*/
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /**/
}

.block_titre {
    font-size: 20px;
    font-weight: bold;
    margin: 18px 10px 20px 5px;
}

.cards_hebergements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    height: 450px;
    /**/
}

.card {
    background-color: white;
    margin: 0px;
    padding: 5px;
    height: 210px;
    width: 31%;
    border-radius: 20px;
    /**/
    box-shadow: 0px 0px 15px var(--strong-grey);
}

.card:hover {
    /**/
    box-shadow: 0px 0px 15px var(--blue);
}

.card_lien {
    text-decoration: none;
}

.card_image {
    height: 120px;
    width: 100%;
    overflow: hidden;
    border-radius: 18px 18px 0 0;
    /**/
}

.card_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card_lieu {
    /**/
    margin: 8px 0px 0px 10px;
}

.card_prix {
    /**/
    margin: 5px 10px;
}

.card_texte {
    /**/
    font-size: 14px;
}

.card_avis {
    /**/
    margin: 5px 10px;
}

.star_blue {
    color: var(--blue);
    font-size: 14px;
    /**/
}

.star_grey {
    color: var(--grey);
    /**/
}

.afficher_plus {
    text-decoration: none;
    margin: 40px 0px 20px 5px;
}


/*les plus populaires*/

.populaires {
    /**/
    background-color: var(--grey);
    width: 30%;
    /*height: 600px;*/
    margin: 20px 0px 0px 45px;
    padding: 25px;
    border-radius: 25px;
    
}

.populaires_titre {
    display: flex;
    justify-content: space-between;
}

.cards_populaires {
    /**/
}

.cards_populaires_card{
    /**/
}

.cards_populaires_card:hover {
    box-shadow: 0px 0px 15px var(--blue);
}

.cardes_populaires_card_image {
    /**/
}

.cards_populaires_card_texte {
    /**/
}

.cards_populaires_card_lieu {
    /**/
}

.cards_populaires_card_avis {
    /**/
}



@media (max-width: 800px) {
    header {
        display: block;
        height: 20%;
    }

    header div a {
        /*border: 2px solid black;*/
        padding: 5% 40%;
    }

  /* logo a mettre au milieu*/

    header nav ul li a {
        text-align: center;
        width: 100%; 
        padding: 5% 30px;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul {
        width: 100%;
    }

    header nav {
        display: inline-flex;
        width: 100%;
    
    }

    header nav ul li a:hover {
        color: var(--blue);
        border-top-color: white; /* pour cacher l'autre hover penser rajouter bottom gris et doubler :active*/
        border-bottom: 3px solid var(--blue);
    }

 

    .search_button {
        background-color: var(--blue);
        border: none;
        border-radius: 0px 15px 15px 0px; /* a changer 4 coin arrondi sur version mobile*/
        float: left; /* pour enlever l'espace mystère */
    }

    .search_button_span {
        display: none;
    } 

    .search_button_i {
        display: inherit;
        color: white;
    }
}