* {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    margin: 0;
    color: black;
    box-sizing: border-box;
}

.txt-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 0px 0px 0px 40px; /* haut droite bas gauche*/
}

.small-title {
    font-size: 16px; /*à verif*/
    font-weight: bold;
}

.city-search {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.text {
    padding: 5px;
    margin: 0px 0px 0px 40px; 
    /*normal donc 16px */
}


/************
 *  header  *
 ***********/


header {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.logo {
    width: 100px;
}

header div a {
    display: flex;
    padding: 45px;
}

header nav ul {
    display: inline-flex;
    padding: 0px; /* pour rapprocher les 2 ancres */
}

header nav ul li {
    display: flex;
    justify-content: flex-end;

    /*border : solid;  ! pour visualisation ! */
}

header nav ul li a {
    text-decoration: none;
    padding : 60px; /* ? à verifier pas satisfaite ? */
}

header nav ul li a:hover {
    color: var(--blue);
    border-top: 3px solid var(--blue);

}


/**********
 *  main  *
 **********/

/*search bar*/

.search-bar {
    padding: 5px;
    margin: 10px 0px 0px 40px;
    display: inline-block;
}

.fa-location-dot {
    background-color: var(--grey);
    border: 1px solid;
    border-color: var(--grey);
    padding: 17.8px 20px 17px 18px;
    border-radius: 15px 0px 0px 15px;
    float: left; /* pour enlever l'espace mystère */
}

.search-input {
    border: 1px solid;
    border-color: var(--grey);
    float: left; /* pour enlever l'espace mystère */
}

.search-input:focus { /* pour enlever la bordure bleue d'activation et remplacer par une bordure plus foncée pour l'accessibilitée */
    outline: none;
    border: 1px solid;
    border-color: var(--strong-grey);
}

.search-button {
    background-color: var(--blue);
    border: none;
    border-radius: 0px 15px 15px 0px;
    float: left; /* pour enlever l'espace mystère */
    cursor: pointer;
}

.search-button:active { /* pour mettre petite animation sur le bouton de recherche */
    border: 1px solid var(--grey);
}

.search-button-span {
    color: white;
}

.search-button-i {
    display: none;
}

/* filtre */

.filters {
    margin: 20px 0px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}

.filter {
    padding: 13px;
    font-size: 18px;
    font-weight: bold;
}

.marg-filter {
    margin: 0px 10px 5px 5px;
}


/* toggle switch */

input:checked + label { /* changer la couleur du fond quand checked*/
    background-color: var(--blue);
} 

input:checked + label > span { /* après checked */
    color: white;
    font-weight: bold;
    display: flex;
    position: absolute;
    padding: 15px 15px;
}

input[type="checkbox"] { /*cacher l'elem checkbox non utilisé*/
    width: 0;
    height: 0;
    opacity: 0;
}

/* filtre économique */

#label-money { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 180px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label-money:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f53a";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label-money:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.economique { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* filtre Familial */

#label-child { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 140px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label-child:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f1ae";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label-child:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.familial { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* filtre romantique */

#label-heart { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 180px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label-heart:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f004";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label-heart:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.romantique { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* filtre Animaux autorisés */

#label-dog { /* bouton total */
    display: inline-block;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
    width: 230px; /* à adapter selon la taille totale */
    height: 50px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#label-dog:after { /* petit bouton */
    /* icone */
    font: var(--fa-font-solid);
    color: var(--fa-primary-color, #0065FC);
    content: "\f6d3";
    display: flex;
    justify-content: center;
    align-items: center;
    /* général */
    width: 47px;
    height: 47px;
    background-color: var(--light-blue);
    position: absolute;
    border-radius: 50px;
}

input:checked + #label-dog:after { /* faire bouger le bouton*/
    left: calc(100%);
    transform: translateX(-100%);
}

.animaux { /* avant check*/
    font-size: 18px;
    font-weight: bold;
    color: black;
    display: flex;
    position: absolute;
    padding: 15px 0px 15px 50px; /* à adapter selon la taille du texte */
}

/* info */

.info {
    display: flex;
    align-items: center;
    margin: 30px 0px 0px 48px;
}

.info-text {
    padding: 5px;
    margin: 0px 0px 0px 5px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 14px;
    height: 25px;
    width: 25px;
    padding: 10px;
    border: 2px solid var(--strong-grey);
    border-radius: 50px;
}


/* mise en page ordi */


.media-view {
    display: flex;
}


/* Hébergements */ 

#ancre-hebergements {
    width: 60%;
    margin: 20px 0px 0px 45px;
}

.hebergements-bloc {
    background-color: var(--grey);
    padding: 25px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bloc-title {
    font-size: 20px;
    font-weight: bold;
    margin: 18px 18px 20px 5px;
}

.cards-hebergements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    height: 450px;
}

.card {
    background-color: white;
    margin: 0px;
    padding: 5px;
    height: 210px;
    width: 31%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--strong-grey);
}

.hover:hover {
    box-shadow: 0px 0px 15px var(--blue);
    cursor: pointer;
}

.lien {
    text-decoration: none;
}

.card-image {
    height: 120px;
    width: 100%;
    overflow: hidden;
    border-radius: 18px 18px 0 0;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-lieu {
    margin: 8px 0px 0px 10px;
}

.card-prix-avis {
    margin: 5px 10px;
}

.card-text {
    font-size: 14px;
}

.star-blue {
    color: var(--blue);
    font-size: 14px;
}

.star-grey {
    color: var(--strong-grey);
}

.afficher-plus {
    text-decoration: none;
    margin: 40px 0px 20px 5px;
}


/*les plus populaires*/  

.populaires {
    background-color: var(--grey);
    width: 30%;
    margin: 20px 0px 0px 45px;
    padding: 25px 35px; 
    border-radius: 25px;
    
}

.populaires-title {
    display: flex;
    justify-content: space-between;
}

.cards-populaires {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 10px 0px 5px;
}

.cards-populaires-card {
    background-color: white;
    height: 30%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--strong-grey);
}

.cards-populaires-card-lien {
    text-decoration: none;
    display: flex;
}

.cardes-populaires-card-image {
    width: 40%;
    height: 143px;
    border-radius: 20px 0 0 20px;
    margin: 3px;
    overflow: hidden;
}

.cardes-populaires-card-image img {
    margin: 2px;
}

.cards-populaires-card-texte {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px 10px 20px;
}

.cards-populaires-card-lieu {
    margin: 8px 50px 0px 0px;
}


/*Activités*/


#ancre-activites {
    width: 100%;
    margin-top: 25px;
    background-color: white;
}

.bloc-activites {
    height: 450px;
    width: 100%;
    display: flex;
    margin: 25px 0px 25px 50px;
}

.activity-hover:hover {
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--blue);
}

.grand-bloc {
    width: 20%;
    margin-right: 45px;
}

.activity-card {
    border-radius: 20px;
    box-shadow: 0px 5px 10px var(--strong-grey);
}

.grande-card-image {
    width: 100%;
    height:  390px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}


.activites-card-text {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 15px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}

.double-bloc {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 45px;
}

.petite-card-1-image {
    width: 100%;
    height: 185px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.petite-card-2-image {
    width: 100%;
    height: 105px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.petite-card-3-image {
    width: 100%;
    height: 135px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.petite-card-4-image {
    width: 100%;
    height: 155px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}



footer {
    background-color: var(--grey);
    margin: 50px 0px 0px 0px; 
    display: flex;
}

.footer-categorie {
    margin: 20px 0px 0px 50px;
    padding: 20px 200px 50px 0px;
}

.footer-liste {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}

.footer-list-elem {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
